<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Clean IOT</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App Icons -->
        <link rel="shortcut icon" href="public/assets/images/favicon.ico">

         <%- HeaderCss %>
         <% include ./Partials/HeaderStyle  %>

        </head>
        <body>
            <!-- Loader -->
            <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
      
        <% include ./Partials/Header  %>

            <div class="wrapper">
                <div class="container-fluid">
                    <%- breadcrumb %>

                    <%- body %>
                </div>
            </div> 

        <% include ./Partials/Footer %>
            
     <% include ./Partials/FooterScript  %>
     
     <%- FooterJs %>
   
<script src="public/assets/js/app.js"></script>
<%- BottomJs %>
</body>
</html>
